@charset "UTF-8";

.patient-name::before, .patient-surname::before,.patient-dob::before, .patient-gender::before{
    content: " *";
    color: red;
 }

 #patient-age-year {
    width: 40px;
 }
 #patient-age-month, #patient-age-date {
     width: 30px;
 }
body {
    background-image: url("../images/form-background.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}
 .form-container {
    --form-theme-color: #00bcd4;
    --form-bg-color: white;
    --input-text-color: rgb(102, 28, 221);
    --button-hover: #1125d4;
    --input-bg-gray: #e5e2e3;
    border-top: 7px solid var(--form-theme-color);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    /* display: block; */
    background-color: var(--form-bg-color);
    padding: 35px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
 }

 .form-container input {
    width: 400px;
    display: block;
    border: none;
    padding: 12px !important;
    border-bottom: solid 1px var(--form-theme-color);
    /* -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); */
    background-repeat: no-repeat;
    color: var(--input-text-color);
}

.form-container input:focus {
    box-shadow: none;
    outline: none;
}

.form-container input:focus::--webkit-input-placeholder {
    color: var(--form-theme-color)
}
