@charset "UTF-8";

.patient-name::before, .patient-surname::before,.patient-dob::before, .patient-gender::before{
    content: " *";
    color: red;
 }

 #patient-age-year {
    width: 40px;
 }

 #patient-age-month, #patient-age-date {
     width: 30px;
 }